<h3 class="permit-header">Current Permits ({{permits.length}})</h3>
<div>
    <div class="row">
        <div class="s8 offset-s2 col">
            <div class="row">
              <div ng-repeat="permit in permits">
                  <!-- CARD -->
                  <div class="card blue-grey lighten-3">

                    <div class="card-header">
                      <div class="grey lighten-3 daddy-flex">
                        <div class="da-flex">{{permit.permit.name}}</div>
                        <div class="da-flex"><p class="lefty">{{permit.permit.email}}</p></div>
                        <div class="da-flex-small">Phone: {{permit.permit.phone}}</div>
                        <div class="da-flex-small">Fax: {{permit.permit.fax}}</div>
                      </div>
                    </div>

                      <div class="card-content left-align">
                          <div class="max-box">

                            <div class="form-names">
                              <p class="black-text"> COMPANY <p>
                              <p class="black-text"> TRUCK # <p>
                              <p class="black-text"> TRAILER # </p>
                              <p class="black-text"> ORIGIN <p>
                              <p class="black-text"> DESTINATION (ADDRESS) <p>
                              <p class="black-text"> REQUESTED ROUTE <p>
                              <p class="black-text"> STATES REQUESTED <p>
                            </div>

                            <div class="form-info">
                              <p class="black-text"><u>{{permit.permit.company}}</u></p>
                              <p class="black-text"><u>{{permit.permit.truck}}</u></p>
                              <p class="black-text"><u>{{permit.permit.trailer}}</u></p>
                              <p class="black-text"><u>{{permit.permit.origin}}</u></p>
                              <p class="black-text"><u>{{permit.permit.destination}}</u></p>
                              <p class="black-text"><u>{{permit.permit.route}}</u></p>
                              <p class="black-text"><u>{{permit.permit.states}}</u></p>
                            </div>

                            <div class="form-names-two">
                              <p class="black-text">EFFECTIVE DATE: <p>
                              <p class="black-text"> LICENCE PLATE # </p>
                              <p class="black-text"> LENGTH </p>
                              <p class="black-text"> AXLE WIDTH </p>
                            </div>

                            <div class="form-info-two">
                              <p class="black-text"><u>{{permit.permit.date}}</u></p>
                              <p class="black-text"><u>{{permit.permit.licence}}</u></p>
                              <p class="black-text"><u>{{permit.permit.length}}</u></p>
                              <p class="black-text"><u> {{permit.permit.axlewidth}}</u></p>
                            </div>

                          </div>

                          <div class="max-box-two">
                            <div class="form-names-three">
                              <p class="black-text"> HAULING EQUIPMENT </p>
                              <p class="black-text"> LOAD DESCRIPTION </p>
                              <p class="black-text"> LENGTH </p>
                              <p class="black-text"> HEIGHT </p>
                              <p class="black-text"> WIDTH </p>
                              <p class="black-text"> OAL </p>
                              <p class="black-text"> FOH </p>
                              <p class="black-text"> ROH </p>
                              <p class="black-text"> OAH </p>
                              <p class="black-text"> KPLA (CA ONLY) </p>
                            </div>

                          <div class="form-info-three">
                            <p class="black-text"><u>{{permit.permit.equipment}}</u><p>
                            <p class="black-text"><u>{{permit.permit.description}}</u><p>
                            <p class="black-text"><u>{{permit.permit.length}}</u><p>
                            <p class="black-text"><u>{{permit.permit.height}}</u><p>
                            <p class="black-text"><u>{{permit.permit.width}}</u><p>
                            <p class="black-text"><u>{{permit.permit.oal}}</u><p>
                            <p class="black-text"><u>{{permit.permit.foh}}</u><p>
                            <p class="black-text"><u>{{permit.permit.roh}}</u><p>
                            <p class="black-text"><u>{{permit.permit.oah}}</u><p>
                            <p class="black-text"><u>{{permit.permit.kpla}}</u><p>
                          </div>

                          <div class="form-names-four">
                            <p class="black-text"> WEIGHTS </p>
                            <p class="black-text"> STEER (GROUP 1) </p>
                            <p class="black-text"> TRUCK </p>
                            <p class="black-text"> DRIVES (GROUP 2) </p>
                            <p class="black-text"> GROUP 3 </p>
                            <p class="black-text"> GROUP 4 </p>
                            <p class="black-text"> GROUP 5 </p>
                            <p class="black-text"> GROSS WEIGHT </p>
                            <p class="black-text"> TIRE COUNT / SIZE </p>
                          </div>

                          <div class="form-info-four">
                            <p class="black-text"><u>{{permit.permit.groupone}}</u><p>
                            <p class="black-text"><u>{{permit.permit.truckweights}}</u><p>
                            <p class="black-text"><u>{{permit.permit.grouptwo}}</u><p>
                            <p class="black-text"><u>{{permit.permit.groupthree}}</u><p>
                            <p class="black-text"><u>{{permit.permit.groupfour}}</u><p>
                            <p class="black-text"><u>{{permit.permit.groupfive}}</u><p>
                            <p class="black-text"><u>{{permit.permit.grossweight}}</u><p>
                            <p class="black-text"><u>{{permit.permit.tirecount}}</u><p>
                          </div>

                      </div>
                      <div class="black-text notes">
                        NOTES: {{permit.permit.notes}}
                      </div>
                      <div class="right-align">
                        <button class="btn permit-button light-blue accent-2" ng-click="">Print</button>
                        <button class="btn permit-button light-blue accent-2" ng-click="deleteDaPermit(permit._id)">Delete</button>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<foot-bar></foot-bar>
