body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}
.jumbotron {
  text-align: center;
}
.jumbotron-img {
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.jumbotron-title {
  position: relative;
  top: -25px;
  color: black;
  font-size: 65px;
}
.jumbotron-words {
  position: relative;
  left: 25%;
  top: -25px;
  color: black;
  font-size: 22px;
  width: 52%;
}
.logo-home {
  position: relative;
  left: 10%;
}
.links-home {
  position: relative;
  right: 10%;
}
.home-footbar {
  margin-top: -100px;
}

.mobile-drop-home {
  width: 80%;
}
.mobile-drop li {
}
.mobile-drop li a {
  height: 80px;
  color: black;
  font-size: 36px;
}
.service-content {
  position: relative;
  top: 50px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pilot-service {
  width: 700px;
  height: auto;
}
.services-words-pilot {
  position: absolute;
  top: 350px;

}
.pilot-service img {
  width: 100%;
  height: 450px;
  opacity: 0.6;
}
.pilot-service img:hover {
  opacity: 1;
}
.permit-service {
  width: 700px;
  height: auto;
}
.services-words-permit {
  position: absolute;
  top: 350px;
}
.permit-service img {
  width: 100%;
  height: 450px;
  opacity: 0.6;
}

.permit-service img:hover {
  opacity: 1;
}

.howto-words {
  font-size: 25px;
}
.signin-modal {
  background-color: black;
}
.signin-modal-header {
  color: white;
}
.signup-page {
  width: 50%;
  position: relative;
  top: 100px;
  left: 25%;
}
.login-page {
  width: 50%;
  position: relative;
  top: 100px;
  left: 25%;
}
.logout-button {
  color: white;
  position: absolute;
  right: 75px;
  top: 21px;
}
 @media (max-width: 650px) {
   .nav-bar {
     height: 75px;
   }
   .logo-home {
     margin-top: 10px;
   }
   .menu-icon {
     margin-top: 10px;
     margin-left: 25px;
   }
   .jumbotron-title {
     font-size: 48px;
   }
   .jumbotron-words {
     width: 80%;
     left: 10%;
   }
   .pilot-service img {
     height: 300px;
   }
   .services-words-permit {
     position: absolute;
     top: 0px;
     display: none;
   }
   .permit-service img {
     height: 300px;
   }
   .services-words-pilot {
     position: absolute;
     top: -200px;
     display: none;
   }
 }
 @media (max-width: 1400px) {
   .services-footbar {
     position: relative;
     top: 490px;
   }
   .services-words-permit {
     position: absolute;
     top: 300px;
   }
   .services-words-pilot {
     position: absolute;
     top: 750px;
   }
 }
 input[type=text]:focus{
   border-bottom: 1px solid black;
   box-shadow: 0 1px 0 0 black;
 }
 .input-truck label {
      color: black;
    }

 .input-truck input[type=text]:focus + label {
      color: black;
    }
 .input-truck input[type=text]:focus {
     border-bottom: 1px solid black;
     box-shadow: 0 1px 0 0 black;
   }
   .input-truck input[type=text].valid {
      border-bottom: 1px solid black;
      box-shadow: 0 1px 0 0 black;
    }
    input-truck label {
         color: black;
       }

    .input-truck textarea[type=text]:focus + label {
         color: black;
       }
    .input-truck textarea[type=text]:focus {
        border-bottom: 1px solid black;
        box-shadow: 0 1px 0 0 black;
      }
      .input-truck textarea[type=text].valid {
         border-bottom: 1px solid black;
         box-shadow: 0 1px 0 0 black;
       }
